#nav__social-midia{
    width: 500px;
}
#nav__social-midia url{
    list-style: none;
    display: flex;
}
#nav__social-midia ul li{
    margin: 0 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
#nav__social-midia ul li:hover{
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, .5) 4px 30px 16px 0px;
}
#nav__social-midia ul li img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
#nav__social-midia .icons{
    max-width: 60%;
}
#nav__social-midia.facebook{
    background-color: #1877f2;
}
#nav__social-midia .linkedin{
    background-color: #1da1f2;
}
#nav__social-midia .whatsapp{
    background-color: #018000;
}
#nav__social-midia .github{
    background-color: #696969;
}